@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardMockup,
.cvcMockup {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding:15px;
    width: 280px;
    height: 165px;
}
.cardMockup {
    background-image: url(./images/bg-card-front.png);
    margin-left: 20px;
    margin-top: 80px;
}
.cvcMockup {
    background-image: url(./images/bg-card-back.png);
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: -1;
}

.completeDiv {
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }